<div class="form-root">

    <app-bullet-stepper>

    </app-bullet-stepper>

    <app-first-step  [ngClass]="{'hidden' : selectedStep != 1}">

    </app-first-step>

    <app-second-step  [ngClass]="{'hidden' : selectedStep != 2}">

    </app-second-step>

    <app-third-step [ngClass]="{'hidden' : selectedStep != 3}">
        
    </app-third-step>

    <app-fourth-step [ngClass]="{'hidden' : selectedStep != 4}">

    </app-fourth-step>

    <app-thanks-screen [ngClass]="{'hidden': selectedStep != 5}">

    </app-thanks-screen>
</div>