/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Ubuntu-Medium";
    src: 
        url("./assets/fonts/Ubuntu-Medium.ttf");;
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: 
        url("./assets/fonts/Ubuntu-Bold.ttf");;
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: 
        url("./assets/fonts/Ubuntu-Regular.ttf");
}

:root{
    --marine-blue:  hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: "Ubuntu-Medium";
    font-size: 16px;
    color: var(--marine-blue);
}

input{
    font-family: "Ubuntu-Medium";
    color: var(--cool-gray);
    padding: 1em;
    font-size: 18px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--cool-gray);
}

input:hover{
    cursor: pointer;
}

input:focus{
    border-color: var(--purplish-blue);
    color: var(--marine-blue);
    outline: none;
}




.form-root{
    display: flex;
    flex-direction: row;
    max-width: 960px;
    margin: auto auto;
}

.bullet-stepper{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    height: 568px;
    width: 274px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

app-first-step{
    width: 100%;
}

.first-step{
    
    height: 100%;
}

.first-step-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto auto;
    gap: 1em;
    height: 100%;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.button-submit-container{
    margin: auto 0 0 auto;
    display: flex;
    justify-content: end;
}

.submit-button{
    padding: 1em;
    color: white;
    background-color: var(--marine-blue);
    outline: none;
    border-radius: 7px;
    border-style: none;
}

.submit-button:hover{
    cursor: pointer;
}


/* disables the step buttons on inputs */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-error{
    color: var(--strawberry-red);
}

.input-invalid{
    border-color: var(--strawberry-red);
}

.step-link{
    display: flex;
    flex-direction: row;
    margin: 0 2em 0 2em;
    gap: 1em;
}

.step-number{
    height: 30px;
    width: 30px;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: var(--pastel-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--pastel-blue)
}

.step-description{
    display: flex;
    flex-direction: column;
}

.step-title{
    margin-block: 0;
    color: var(--pastel-blue);
    font-size: 12px;
}

.step-info{
    margin-block: 0;
    color: white;
}